<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<!-- <div class="container"> -->
  <a class="navbar-brand" href="#">Helsingør Kampsportscenter</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Nyheder <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Priser</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Træningstider</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">BJJ - Brasiliansk Jiu Jitsu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Børnehold</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Info
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
          <a class="dropdown-item" href="#">Instruktøre</a>
          <a class="dropdown-item" href="#">Medlemsskab</a>
          <a class="dropdown-item" href="#">Klubbens resultater</a>
          <a class="dropdown-item" href="#">Bælte rang</a>
          <a class="dropdown-item" href="#">Lovgivning og selvforsvar</a>
          <a class="dropdown-item" href="#">OSS - Ofte Stillede Spørgsmål</a>
        </div>
      </li>
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Medie
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
          <a class="dropdown-item" href="#">Billeder</a>
          <a class="dropdown-item" href="#">Video</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Kontakt</a>
      </li>
    </ul>
    
  </div>
  <!-- </div> -->
</nav>